name: CI-CD

on: 
  push:
    branches: ["main"]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.2.1
    
    - name: Autenticação no Docker Hub
      uses: docker/login-action@v3.3.0
      with:
         username: ${{secrets.DOCKERUSER}}
         password: ${{secrets.DOCKERHUB_PWD}} #test1
      
    - name: construção imagem Docker
      uses: docker/build-push-action@v6.9.0
      with:
        context: ./src
        file: ./src/Dockerfile
        push: true
        tags: |
          laranjeirajuliano/live-kube-news:${{github.run_number}}
          laranjeirajuliano/live-kube-news:latest

  CD:
    runs-on: ubuntu-latest
    needs: [CI]
    steps:
      - uses: actions/checkout@v4.2.1

      - name: Definindo o context
        uses: Azure/k8s-set-context@v3.0
        with: 
          method: kubeconfig
          kubeconfig: ${{secrets.K8S_CONFIG}}
    
    
